<div class="page-title">
    <h1>Electronics Store</h1>
</div>

<div class="catalog-container">

    @for(product of products(); track product.id){

    <mat-card class="product-card">

    <!-- <div class="discount-chip">

        {{product.discountPercentage}}% OFF

    </div> -->

    <button
        mat-icon-button
        class="wishlist">

        <mat-icon>

            favorite_border

        </mat-icon>

    </button>

    <mat-card-content>

        <div class="rating">

            ⭐ {{product.rating}}

        </div>

        <h2>

            {{product.name}}

        </h2>

        <p>

            {{product.description}}

        </p>

        <div class="stock">

            @if(product.inStock){

                <span class="in-stock">

                    In Stock

                </span>

            }
            @else{

                <span class="out-stock">

                    Out of Stock

                </span>

            }

        </div>

        <div class="price-section">

            <span class="price">

                ₹ {{product.price | number}}

            </span>

            <span class="old-price">

                ₹ {{ (product.price * 1.15) | number }}

            </span>
            <span class="discount-chip">{{product.discountPercentage}}% OFF</span>

        </div>

    </mat-card-content>

    <mat-card-actions>

        <button
            mat-raised-button
            color="primary"
            (click)="addToCart(product)"
            [disabled]="!product.inStock">

            <mat-icon>

                shopping_cart

            </mat-icon>

            Add To Cart

        </button>

    </mat-card-actions>

</mat-card>

    }

</div>


<!-- <div class="catalog-container">

    @for(product of products(); track product.id){

        <app-product-card
            [product]="product">
        </app-product-card>
    <mat-card class="product-card">

    <img
        mat-card-image
        [src]="product.imageUrl"
        [alt]="product.name">

    <mat-card-content>

        <h2>{{product.name}}</h2>

        <p class="description">

            {{product.description}}

        </p>

        <h3 class="price">

            ₹ {{product.price | number}}

        </h3>

    </mat-card-content>

    <mat-card-actions>

        <button
            mat-raised-button
            color="primary"
            (click)="addToCart(product)">

            Add To Cart

        </button>

    </mat-card-actions>

</mat-card>
    }


</div> -->