<div class="payment-container">

    <mat-card class="payment-card">

        <h2>Secure Payment</h2>

        <form [formGroup]="paymentForm">

            <mat-form-field appearance="outline">

                <mat-label>Card Holder Name</mat-label>

                <input
                    matInput
                    formControlName="cardHolderName">

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Card Number</mat-label>

                <input
                    matInput
                    maxlength="16"
                    formControlName="cardNumber">

            </mat-form-field>

            <div class="row">

                <mat-form-field appearance="outline">

                    <mat-label>MM</mat-label>

                    <input
                        matInput
                        maxlength="2"
                        formControlName="expiryMonth">

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>YYYY</mat-label>

                    <input
                        matInput
                        maxlength="4"
                        formControlName="expiryYear">

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>CVV</mat-label>

                    <input
                        matInput
                        maxlength="4"
                        type="password"
                        formControlName="cvv">

                </mat-form-field>

            </div>

        </form>

    </mat-card>

    <mat-card class="summary-card">

        <h2>Order Summary</h2>

        <p>

            Items :

            {{cart.itemCount()}}

        </p>

        <h1>

            ₹ {{cart.totalAmount() | number}}

        </h1>

        <button
            mat-raised-button
            color="primary"
            (click)="pay()"
            [disabled]="processing">

            @if(processing){

                <mat-spinner diameter="22"></mat-spinner>

            }
            @else{

                Pay Now

            }

        </button>

    </mat-card>

</div>