<mat-toolbar color="primary" class="navbar">

    <div class="logo" routerLink="/catalog">

        <mat-icon>shopping_cart</mat-icon>

        <span>Global E-Commerce</span>

    </div>
    <span class="spacer"></span>

    <a
        mat-button
        routerLink="/catalog"
        routerLinkActive="active">

        <mat-icon>storefront</mat-icon>

        Products

    </a>

    <a
        mat-button
        routerLink="/cart"
        routerLinkActive="active">

        <mat-icon
            [matBadge]="cart.itemCount()"
            matBadgeColor="warn">

            shopping_cart

        </mat-icon>

        Cart

    </a>

</mat-toolbar>
