.cart-container{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;

    padding:30px;

}

.cart-card{

    margin-bottom:20px;

    padding:20px;

}

.item-details{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.quantity{

    display:flex;

    align-items:center;

    gap:15px;

}

.summary{

    position:sticky;

    top:90px;

    height:fit-content;

    padding:25px;

}

.row{

    display:flex;

    justify-content:space-between;

    margin:15px 0;

}

.total{

    font-size:24px;

    font-weight:bold;

}

.summary button{

    width:100%;

    margin-top:25px;

}

@media(max-width:900px){

.cart-container{

grid-template-columns:1fr;

}

}