.container{

    width:900px;

    margin:30px auto;

}

.cart-card{

    margin-bottom:20px;

    border-radius:14px;

    box-shadow:0 5px 12px rgba(0,0,0,.1);

}

mat-card-actions{

    display:flex;

    align-items:center;

    gap:10px;

}