<div class="container">

    <h1>Shopping Cart</h1>

    @if(cartService.cart().length===0){

        <h3>Your cart is empty.</h3>

    }

    @for(item of cartService.cart(); track item.product.id){

        <mat-card class="cart-card">

            <mat-card-title>

                {{item.product.name}}

            </mat-card-title>

            <mat-card-content>

                <p>

                    Price :
                    ₹ {{item.product.price}}

                </p>

                <p>

                    Quantity :
                    {{item.quantity}}

                </p>

                <p>

                    Total :

                    ₹ {{item.product.price*item.quantity}}

                </p>

            </mat-card-content>

            <mat-card-actions>

                <button
                    mat-icon-button
                    color="primary"
                    (click)="cartService.decrease(item.product.id)">

                    <mat-icon>remove</mat-icon>

                </button>

                <button
                    mat-icon-button
                    color="primary"
                    (click)="cartService.increase(item.product.id)">

                    <mat-icon>add</mat-icon>

                </button>

                <button
                    mat-button
                    color="warn"
                    (click)="cartService.remove(item.product.id)">

                    Remove

                </button>

            </mat-card-actions>

        </mat-card>

    }

    <hr>

    <h2>

        Grand Total

        ₹ {{cartService.totalAmount()}}

    </h2>

    <button
        mat-raised-button
        color="primary"
        [disabled]="cartService.cart().length===0"
        (click)="checkout()">

        Checkout

    </button>

</div>